*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
}

body {
	font-family: @ff-primary;
	font-size: @fs-primary;
	font-weight: @fw-normal;
}

body[data-theme='dark'] {
	background-color: #dark-theme[clr-blue-900];
	.hero {
		background-image: url(../../../images/bg-mobile-dark.jpg);
		color: #dark-theme[clr-light-grayish];
	}
}

body[data-theme='light'] {
	background-color: #light-theme[clr-light-gray];
	.hero {
		background-image: url(../../../images/bg-mobile-light.jpg);
		color: #light-theme[clr-light-gray];
	}
}

ul {
	li {
		list-style: none;
	}
}
