


.hero {
	background-size: cover;
	background-repeat: no-repeat;
    height: 12rem;
    width: 100%;
    
    h1 {
        font-weight: @fw-normal;
    }
    
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

